body {
    background-color: #fceba6;
    font-family: 'Perpetua', serif;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
mainImage{
    width: 500 px;
    height: 500 px;
  }
  
  h1 {
    font-size: 50px;
    font-family: 'Optima', sans-serif;
    position: relative;
    text-align: center;
    color: #6c5919;
  }

  div {
    position: relative;
    text-align: center;
    font-size: 20px;
  }