body {
    background-color: #f1cb80;
    font-family: 'Helvetica', sans-serif;
  }
  
  h1 {
    font-size: 120px;
    font-family: 'Courier New', monospace;
    position: relative;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    text-align: center;
  }
