body {
    background-color: #a07c39;
    font-family: 'Helvetica', sans-serif;
  }
  img {
    padding: 10px;
    display: inline-block;
  
  }
  h1 {
    font-size: 30px;
    font-family: 'Courier New', monospace;
    position: relative;
    text-align: center;
  }
  
  p {
    font-size: 15px;
    text-align: center;
  }
