body {
    background-color: #f59953;
    font-family: 'Helvetica', sans-serif;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h1 {
    font-size: 60px;
    font-family: 'Courier New', monospace;
    position: relative;
    text-align: center;
  }

  div {
    position: center;
    text-align: center;
  }
  
  p {
    font-size: 15px;
    text-align: center;
  }