
body {
    background-color: #b3dfff;
  }
  

  #viewmaster-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #355c7d;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #viewmaster-container img {
    flex-shrink: 0;
    width: 300px;
    height: auto;
    margin-right: 20px;
  }
  
  #viewmaster-container h2,
  #viewmaster-container p {
    flex-grow: 1;
    color: #355c7d;
  }
  
  #next-button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
 
  #intro-image {
    margin: auto;
    width: 50%;
  }