body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

.episode {
  text-align: center;
}

.thumbnail {
  max-width: 100%;
  height: auto;
}
body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    
  }
  .banner {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: fadeIn 2s ease-in-out;
  }
  
  .banner-text {
    color: white;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes slideIn {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  p {
    margin: 10px;
    padding: 5px;
    border: 2px solid #666;
    background-color: black;
    color: white;
  }