body{
    background-color:rgb(196, 196, 196);
}

h1{
	font-size: 50px;
    font-family: 'Optima', sans-serif;
    position: relative;
    text-align: center;
    color: #6c5919;
}

image{
	width: 5%;
	align-items: center;
}

.hide{
	filter: brightness(0.0);
}

.show {
	filter:brightness(1.0)
}