body{
    background-color:rgb(81, 168, 179);
}

h1{
	font-size: 50px;
    font-family: 'Optima', sans-serif;
    position: relative;
    text-align: center;
    color: #2d2d2d;
}

image{
	width: 5%;
	align-items: center;
	position: relative;
}

.hide{
	filter: brightness(0.0);
}

.show {
	filter:brightness(1.0)
}